@{
	ViewData["Title"] = "Account";
}

<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />

@{
	// LogIn / Registera
}

<div id="framework">
	@if (ViewData["loggedIn"] == null)
	{
		<div id="option-box">
			<button class="button">
				Logga In
			</button>
			<button class="button">
				Registera dig
			</button>
		</div>
	}
</div>