@{
	ViewData["Title"] = "Account";
}

<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />

<div id="framework">
	<div id="option-box">
		<a class="button" asp-controller="Account" asp-action="LogIn">
			Logga In
		</a>
		<a class="button" asp-controller="Account" asp-action="Register">
			Registera dig
		</a>
	</div>
</div> 