@using Models;
@model ExperienceValidate;

<div class="container">
	<div class="row">
		<h2 class="center-text">Ändra</h2>
		<input type="hidden" name="id" value="@Model.id" />
		<form asp-action="ExperienceEdit" method="post" class="centered">
			<div class="row">
				<div class="col-lg-8 col-12">
					<div asp-validation-summary="All" class="text-danger"></div>
				</div>
			</div>
			<div class="row space col-lg-6 col-12">
				<div class="col-lg-2 col-12">
					<label>Företag: </label>
				</div>
				<div class="col-lg-8 col-12">
					<input asp-for="@Model.companyTitle" class="form-control" />
				</div>
			</div>
			<div class="row space col-lg-6 col-12">
				<div class="col-lg-2 col-12">
					<label>Job: </label>
				</div>
				<div class="col-lg-8 col-12">
					<input asp-for="@Model.jobTitle" class="form-control" />
				</div>
			</div>
			<div class="row space col-lg-6 col-12">
				<div class="col-lg-2 col-12">
					<label>Tid: </label>
				</div>
				<div class="col-lg-8 col-12">
					<input asp-for="@Model.time" class="form-control" />
				</div>
			</div>
			<div class="row space col-lg-6 col-12">
				<div class="col-lg-3">
					<input type="submit" value="Ändra" class="form-control btn btn-primary" />
				</div>
			</div>
		</form>
	</div>
</div>