a > h5 {
    color: #d70f0f;
    text-decoration: none;
}

a:hover > h5 {
    color: #bf0e0e;
    font-weight: 700;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.confirm-box {
    position: fixed;
    width: 300px;
    height: 180px;
    background-color: white;
    border: 3px solid #dddddd;
    border-radius: 10px;
    left: calc(50% - 150px);
    top: calc(50% - 90px);
    z-index: 2;
    visibility: hidden;
}

#cover-sheet {
    position: absolute;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    background-color:#424242a6;
    z-index: 1;

    visibility: hidden;
}