img {
    height: 500px;
    border-radius: 50%;
    border: 3px solid #dddddd;
}

.other-box {
    margin-top: 500px;
}

@media only screen and (max-width: 1200px) {
    .other-box {
        margin-top: 0px;
    }
}