html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    min-width:400px;
    margin-bottom: 60px;
}

#search-button-validation {
    top: 50px;
    width: 200px;
    height: 200px;
    padding: 10px;
    position: absolute;
    background-color: white;
    border: 2px solid #dddddd;
    border-radius: 10px;
}

#toggleCheckbox {
    display:none;
}

#toggleCheckboxSearch:hover {
    font-weight: 600;
    cursor: pointer;
}

#toggleCheckbox:checked + #search-button-validation {
    visibility: hidden;
}

#search-form {
    display: flex;
    align-items: center;
}

#search-button {
    background-color: #ffffff;
    border: 2px solid #dddddd;
    color: #333333;
    padding: 2px;
    height: 30px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#search-button:hover {
    background-color: #f0f0f0;
    color: #555555;
}

#search-bar {
    border: 2px solid #dddddd;
    height: 30px;
    padding: 2px;
    border-radius: 8px 0 0 8px;
}

.icon-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #dddddd;
    color: #555555;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
}

.icon-button:hover {
    color:red;
}

#total-messages {
    height:20px;
    width:20px;
    border-radius:50%;
    background-color:#FF0000;
    color:white;
    position: relative;
    left:20px;
    top:-30px;
    text-align:center;
    font-size:12px;
}

.button {
    width: 200px;
    height: 30px;
    background-color: white;
    border: 3px solid #dddddd;
    border-radius:5px;

    text-decoration:none;
    color:black;

    font-weight: 700;
}

.button:hover {
    color:gray;
    border: 3px solid #bbbbbb;
}

.button:active {
    color: lightgray;
    border: 3px solid #999999;
}

.centered {
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.center-items {
    display: flex;
    align-items: center;
}

.space {
    margin-top: 10px;
    margin-bottom: 10px;
}

.space-side {
    margin-left:10px;
    margin-right:10px;
}


input {
    width:100%;
}

input[type="checkbox"] {
    width: 12px;
    height: 12px;
}

h1, h2, h3, h4, h5, h6 {
    color: #d70f0f;
}

a {
    color: #d70f0f;
    text-decoration: none;
}

a:hover {
    color: #bf0e0e;
    font-weight: 700;
}

.center-text {
    text-align: center;
}

.profile-img {
    width: 200px;
    border-radius: 50%;
    padding: 10px;
}